AWS_ACCESS_KEY_ID=UtoursgcA6hFq0pKBv7W39QVfaRIEekzMHji
AWS_SECRET_ACCESS_KEY=0J7dNAmHRQcZSVzwugfb13i25CkOlavsWqY4
AWS_STORAGE_BUCKET_NAME=loveable-bucket
AWS_S3_ENDPOINT_URL=https://innoida.utho.io
AWS_S3_REGION_NAME=ap-south-in-noida-1
